.home {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.home__title {
  color: #303030;
  width: 80%;
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.home__body {
  width: 70%;
  display: block;
  margin: 0 auto;
}
